<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<appSettings>
  <!--天气和数字图标的大小限制（KB）-->
  <add key="MaxIconSize" value="100"/>
  <!--字体的大小限制（MB）-->
  <add key="MaxFontSize" value="10"/> 
</appSettings>
</configuration>
